/*Makefile
/.deps/
/*.o
/*.lo
/*.Plo
/*.d
/**/*.Plo
/**/*.lo
/**/*.o
/**/*.d
/.libs/
/*.la
/**/*.la
aclocal.m4
Makefile.in
# stamp-h1
# cmdutils.c
# cmdutils.h
config.c
config.h
config_components.c
config_components.h
# dummy.c
# ffmpeg_dec.c
# ffmpeg_demux.c
# ffmpeg_enc.c
# ffmpeg_filter.c
# ffmpeg_hw.c
# ffmpeg_mux_init.c
# ffmpeg_mux.c
# ffmpeg_mux.h
# ffmpeg_opt.c
# ffmpeg_sched.c
# ffmpeg_sched.h
# ffmpeg_utils.h
# ffmpeg.c
# ffmpeg.h
# ffplay.h
# ffplay.c
# ffplay_renderer.h
# ffplay_renderer.c
# ffprobe.c
# fopen_utf8.h
# graphprint_res.c
# opt_common.c
# opt_common.h
# sync_queue.c
# sync_queue.h
# thread_queue.c
# thread_queue.h
# graph/graphprint.c
# graph/graphprint.h
# resources/graph.css.c
# resources/graph.html.c
# resources/resman.c
# resources/resman.h
# textformat/avtextformat.c
# textformat/avtextformat.h
# textformat/avtextwriters.h
# textformat/tf_compact.c
# textformat/tf_default.c
# textformat/tf_flat.c
# textformat/tf_ini.c
# textformat/tf_internal.h
# textformat/tf_json.c
# textformat/tf_mermaid.c
# textformat/tf_mermaid.h
# textformat/tf_xml.c
# textformat/tw_avio.c
# textformat/tw_buffer.c
# textformat/tw_stdout.c
# stdbit.h
# resources/graph.css
# resources/graph.html
resources/Makefile
resources/.gitignore
fftools.manifest
fftoolsres.rc
config.h.in
bundle_manifest.txt
ffmpeg-linker-script.map
libs.txt
# compat/va_copy.h
# compat/stdbit.h
# compat/w32dlfcn.h
# compat/android/*