/autom4te.cache/
/Makefile
/config.status
/configure.tmp
/configure~
/.deps/
/.libs/
/*.trs
/unittests
/test-driver
/config.log
/*.tmp
/configure
/libtool
/ltmain.sh
/m4/l*
/Makefile.in
aclocal.m4
Makefile.in
/*already_*
config.h*
stamp-h1
/*.in~
/*.a
/*.pc
build/
/*.touch
.cache/
compile_commands.json
compile_flags.txt
/*.log